body {
    background-image: url(https://img.freepik.com/premium-vector/white-cat-semaless-repeat-pattern-vector-backgorund-tile-with-paws_654662-5571.jpg?semt=ais_hybrid&w=740);
}
h1{
    font-size: 40px;
    color:brown;
    background-color: rgb(118, 189, 165, 0.5);
    border: 4px solid rgb(81, 216,54);
    border-radius: 50px;
}
h2{
    font-size: 30px;
    color:brown;
}
h1,h2,p,img,li{
    text-align: center;
}
.photo{
    color: blue;
}
.catfield{
    margin-bottom: 4px;
}
img { 
    display: block;
    margin: 0 auto; 
    box-shadow: 5px 5px 10px gray;
    transition: transform 0.3s;
}
img:hover{
    transform: scale(1.1);
}
ul{
    text-align:center;
    list-style-position:inside;
    list-style-type:square;
}
ol{
    text-align: center;
    list-style-position:inside;
    list-style-type: upper-roman;
    margin-bottom: 20px;
}
input, button {
    padding: 10px 15px;
    border-radius: 11px;
    border: 2px solid rgb(225, 218, 218);
    border: 2px solid rgb(100, 180, 0);
}
button {
    background-color:brown;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color:rgb(133, 10, 10);}

.dark-theme{
    background-color:rgb(17, 5, 64);
    background-image: none;
    color: rgb(225, 225, 225);
}